BODY {
    margin: 20px 0px 20px 0px;
    background-color: #33545b;
    background-image: url('assets/blue-stars-static-transparent.png');
    background-size: 300px;
    background-repeat: repeat;
    font-family: monospace;
    font-size: 12pt;
    font-weight: bold;
}

span {
  padding-top: 5px;
}

/* div {
  border: 2px dashed yellow;
} */

.page {
    display: block;
    width:50%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: auto;
}

.centered_text {
    display: flex;
    justify-content: center;
}

#headerText{
  color:#e8ea90;
  font-size: 14pt;
  font-weight: bold;
}

#theMusic {
  display: flexbox;
  margin: auto;
  width: 6.5%;
  position: fixed;
  justify-content: space-around;
  bottom: 0;
  left: 0;
}

/* Used for navigation buttons */
.nav-container  {
  display: flex; /* Makes the container a flex container, children sit side-by-side by default */
  justify-content: center;
}

.navigation-buttons img {
  background-color: transparent;
  width: 75%;
}

.navigation-buttons button {
  background-color: transparent;
  height: 100px;
  width: 175px;
  border: none;
}

.content-section {
  display: grid;
  /* width: 50%; */
  /* grid-template-columns: 50% 50%; */
  /* margin: 5%; */
  /* place-self: center; */
  /* border: 2px solid red; */
}

#about-div {
  display: flex; /* Makes the container a flex container, children sit side-by-side by default */
  justify-content: center;
  border: 2px solid yellow;
  align-items: center;
}

#aboutHeadshot {
  width:50%;
  /* border: 2px solid yellow; */
  margin: 8px;
  float: left;
  align: middle;
}

.pageRightPanel {
    /* float: right; */
    /* clear: none;
    box-sizing: border-box;
    border: 2px solid yellow;
    border-radius: 25px;
    margin: 10%; */
}

.pageContent {
    display: flex;
    clear: none;
    box-sizing: border-box;
    border: 2px solid #eda20b;
    border-radius: 25px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    background-color: #eda20b;
    margin-left: 25%;
    margin-right: 25%;
    align-items: center;
    height:350px;
}


.pageFooter {
    background-color: #000000;
    color: #e8ea90;
    clear: none;
    /* min-height: 50px; */
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 25px;
    /* margin-top: -25px; */
    /* position: fixed; */
    justify-content: space-around;
    /* bottom: 0; */
}

#inner-text {
  margin: 10px;
}