BODY {
    margin: 20px 0px 20px 0px;
    background-color: #33545b;
    background-image: url('assets/blue-stars-static-transparent.png');
    background-size: 300px;
    background-repeat: repeat;
    font-family: monospace;
    font-size: 12pt;
}



/* img {
  display: flexbox;
  margin: auto;
  width: 65%;
} */

.page {
    display: block;
    width:50%;
    overflow: hidden;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: auto;
    font-weight: bold;
}

.centered_text {
    display: flex;
    justify-content: center;
}

#headerText{
  color:#e8ea90;
  font-size: 12pt;
  font-style: bold;
  font-size: 14pt;
}

#theMusic {
  display: flexbox;
  margin: auto;
  width: 6.5%;
  position: fixed;
  justify-content: space-around;
  bottom: 0;
  left: 0;
}

.flex-container  {
  display: flex; /* Makes the container a flex container, children sit side-by-side by default */
  justify-content: center;
  padding-top: 1.5%;
}

.navigation-buttons img {
  background-color: transparent;
  width: 100%;
}

.navigation-buttons button {
  background-color: transparent;
  margin: 20px;
  height: 100px;
  width: 200px;
  /* border: none; */
}

