BODY {
    margin: 20px 0px 20px 0px;
    background-color: #33545b;
    background-image: url('assets/blue-stars-static-transparent.png');
    background-size: 300px;
    background-repeat: repeat;
    font-family: monospace;
    font-size: 12pt;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

SPAN {
  padding-top: 5px;
}

.page {
    display: block;
    width:50%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: auto;

    /* flex: 1; */
}

.centered_text {
    display: flex;
    justify-content: center;
}

#headerText{
  color:#e8ea90;
  font-size: 14pt;
  font-weight: bold;
}

.nav-container  {
  display: flex; 
  justify-content: center;
  margin-top: -25px;
}

.navigation-buttons img {
  background-color: transparent;
  width: 75%;
}

.navigation-buttons button {
  background-color: transparent;
  height: 100px;
  width: 175px;
  border: none;
}

.content-section {
  display: grid;
}

.pageContent {
    display: flex;
    clear: none;
    box-sizing: border-box;
    border: 2px solid #eda20b;
    border-radius: 25px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    background-color: #eda20b;
    margin-left: 25%;
    margin-right: 25%;
    align-items: center;
    height:350px;
}

#aboutHeadshot {
  width:50%;
  margin: 8px;
  float: left;
}

#inner-text {
  margin: 10px;
}


.pageFooter {
    background-color: #000000;
    color: #e8ea90;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 25px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50%;

}

#theMusic {
  display: flexbox;
  margin: auto;
  width: 6.5%;
  position: fixed;
  justify-content: space-around;
  bottom: 0;
  left: 0;
}