BODY {
    margin: 20px 0px 20px 0px;
    /* background-color: #845086; */
    background-image: url('assets/blue-stars-2.gif');
    font-family: monospace;
    font-size: 12pt;
    font-style: bold;
}

.div{
    margin-bottom: 20px;
}

.page img {
    display: block;
    width:43%;
    overflow: hidden;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: auto;
    font-weight: bold;

    display: block;
    margin: auto;
    width: 65%;
}

.centered_text {
    display: flex;
    justify-content: center;
}

.pageNavigationBar {
    /* background-color: #ED6F45; */
    background-color: #4e3b31;
    color: #FFFFFF;
    text-align: center;
    clear: none;
    min-height: 50px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 25px;
}

.pageRightPanel {
    background-color: #a6809d;
    float: right;
    clear: none;
    width: 15%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 20px;
    min-width: auto;
    font-style: italic bold;
}

.pageContent {
    background-color: #9984d4;
    clear: none;
/*    min-height: 650px;*/
    box-sizing: border-box;
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 20px;
/*    min-width: auto;*/
    width: 75%;

}

.pageFooter {
    background-color: #000000;
    color: #BB18F1;
    clear: none;
    min-height: 50px;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 25px;
    margin-top: -25px;
    bottom: 0;
    position: fixed;
    width: 50%;
}

.rounded-box {
    border-radius: 25px;
    /* Rounds all four corners by 25 pixels */
    border: 2px;
    padding: 20px;
}

.flex-container {
  display: flex; /* Makes the container a flex container, children sit side-by-side by default */
  width: 75%;
}

.div1, .div2 {

  /* Add styling for visibility/spacing */
  padding: 20px;
  min-height: 650px;
}

.div1 {
  margin-right: 10px; /* Adds space between the divs */
  flex-grow: 1;
}

.nav-asset{
    position: static;
    z-index: 1;    
    white-space: nowrap;
    margin: 0px 20px 0px 20px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 50px; 
  height: 50px; 
  float: left; 
  margin-right:10px;
}
